<h1> List all companies </h1>
<p><%= link_to 'Investor Page', investors_index_path %></p>
<%= link_to 'New Company', new_company_path %>
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Year</th>
        <th>Stage</th>
        <th>Field</th>
        <th>Detail</th>
    </tr>

    <% @companies.each do |company| %>
        <tr>
            <td> <%= company.name %> </td>
            <td> <%= company.category %> </td>
            <td> <%= company.year %> </td>
            <td> <%= company.stage %> </td>
            <td> <%= company.fields %> </td>
            <td> <%= company.detail %> </td>
            <td> <%= link_to 'Show', company_path(company) %> </td>
            <td> <%= link_to 'Edit', edit_company_path(company) %> </td>
            <td> <%= link_to 'Delete', company_path(company), 
                     method: :delete,
                     data: { confirm: 'Are you sure?'} %> </td>
        </tr>
    <% end %>
</table>
