<h1>Company</h1>
<p>
  <strong> Name: </strong>
  <%= @company.name %>
</p>

<p>
  <strong> Category: </strong>
  <%= @company.category %>
</p>

<p>
  <strong> Year: </strong>
  <%= @company.year %>
</p>

<p>
  <strong> Stage: </strong>
  <%= @company.stage %>
</p>

<p>
  <strong> Field: </strong>
  <%= @company.field %>
</p>

<p>
  <strong> Detail: </strong>
  <%= @company.detail %>
</p>


<p>
  <strong> Investors: </strong>
  <%= link_to 'Who invested', investors_index_path %>
</p>

<%= link_to 'Back', companies_index_path %>