<h1> Simialr Companies </h1>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Year</th>
    <th>Stage</th>
    <th>Field</th>
    <th>Detail</th>
    <th>Similarity</th>
  </tr>
  <% @rankedCompanies.each do |rankedCompany| %>
    <tr>
      <td> <%= rankedCompany.company.name %> </td>
      <td> <%= rankedCompany.company.category %> </td>
      <td> <%= rankedCompany.company.year %> </td>
      <td> <%= rankedCompany.company.stage %> </td>
        <td> 
          <% begin %>
            <%= CompanyField.find(rankedCompany.company.field_id) %> 
              <% rescue ActiveRecord::RecordNotFound => e %>
                <%= nil %>
            <% end %>
        </td>
        <td> <%= rankedCompany.company.detail %> </td>
        <td> <%= rankedCompany.score %> </td>
      </tr>
      <div></div>
    <% end %>
</table>