<h1>Company</h1>
<p>
  <strong> Name: </strong>
  <%= @company.name %>
</p>

<p>
  <strong> Category: </strong>
  <%= @company.category %>
</p>

<p>
  <strong> Year: </strong>
  <%= @company.year %>
</p>

<p>
  <strong> Stage: </strong>
  <%= @company.stage %>
</p>

<p>
  <strong> Fields: </strong>
  <% @company.company_fields.each do |field| %>
    <p><%= field.name %></p>
  <% end %>
</p>

<p>
  <strong> Detail: </strong>
  <%= @company.detail %>
</p>

<p>
  <strong> Investors: </strong>
  <% @company.investors.each do |investor| %>
    <p><%= link_to investor.name, investor_path(investor) %></p>
  <% end %>
</p>

<%= link_to 'Back', companies_index_path %>